@page
@model VSSummit2020.Pages.Nav.TextModel
@{
}

<div class="row justify-content-md-center">
    <div class="col col-6">
        <form method="post">
            <div class="form-group">
                <label for="query">O quê deseja fazer?</label>
                <input type="text" class="form-control" id="query" name="query" aria-describedby="queryHelp" placeholder="Quero ver o relatório de entradas de ontem.">
                <small id="queryHelp" class="form-text text-muted">Diga, em poucas palavras, o que deseja fazer.</small>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>