@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Essa é a <strong>Totally Real Company</strong>. Uma empresa voltada exclusivamente para gerar distintos relatórios com dados completamente reais de casos reais do mundo real.</p>
</div>
